

.icon-explanation {
  height: 325px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

#trailerbut {
  font-family: 'IM Fell English SC', serif;
  font-size: 40px;
  font-weight: bold;
  color: white;
  letter-spacing: 0;
}

#trailerbut:hover {
  text-decoration:none !important;
}

.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
}
.hvr-glow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
}


/*#trailerbut:hover,
#trailerbut:hover{
  letter-spacing: 5px;
}

#trailerbut:hover,
#trailerbut:hover {
  backface-visibility: hidden;
  border: 1px solid rgba(#fff, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 180ms ease-in-out;
  width: 0;
}

#trailerbut:hover,
#trailerbut:hover {
  backface-visibility: hidden;
  border-color: #fff;
  transition: width 250ms ease-in-out;
  width: 30%;
}

#trailerbut:hover {
  bottom: auto;
  top: 0;
  width: 100%;
}*/

