

.icon-explanation {
  height: 325px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

#trailerbut {
  font-family: 'IM Fell English SC', serif;
  font-size: 40px;
  font-weight: bold;
  color: white;
  letter-spacing: 0;
}

#trailerbut:hover,
#trailerbut:hover{
  letter-spacing: 5px;
}

#trailerbut:hover,
#trailerbut:hover {
  backface-visibility: hidden;
  border: 1px solid rgba(#fff, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 180ms ease-in-out;
  width: 0;
}

#trailerbut:hover,
#trailerbut:hover {
  backface-visibility: hidden;
  border-color: #fff;
  transition: width 250ms ease-in-out;
  width: 30%;
}

#trailerbut:hover {
  bottom: auto;
  top: 0;
  width: 100%;
}

