.card {
  padding: 10px;
  height: 250px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  border-radius: 5px;
  margin-bottom: 20px;
  font-family: 'IM Fell English SC', serif;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-category {
  z-index: 99999999;
  font-size: 20px;
}
.card-description {
  position: absolute;
  bottom: 5px;
  left: 10px;
}
.card-description h2 {
  font-family: 'IM Fell English SC', serif;
  font-size: 22px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.card-description p {
  font-family: 'IM Fell English', serif;
  font-size: 15px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0);
  margin-bottom: 50px;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
  font-family: 'IM Fell English SC', serif;
}
.card-link:hover{
  opacity: 0.3;
}

.card h1 {
  font-family: 'IM Fell English SC', serif;
  font-size: 22px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.card p {
  font-family: 'IM Fell English', serif;
  font-size: 15px;
  font-weight: lighter;
  color: white;
  margin-bottom: 2px;
}

.card-headers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}
